altgraph==0.17.3
certifi==2022.12.7
charset-normalizer==2.0.12
colorama==0.4.5
decorator==4.4.2
future==0.18.2
idna==3.4
imageio==2.10.5
imageio-ffmpeg==0.4.7
importlib-metadata==4.8.3
importlib-resources==5.4.0
moviepy==1.0.3
numpy==1.19.5
pefile==2022.5.30
Pillow==8.4.0
proglog==0.1.10
pyinstaller==4.10
pyinstaller-hooks-contrib==2022.0
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.1
pywin32-ctypes==0.2.0
requests==2.27.1
tqdm==4.64.1
typing_extensions==4.1.1
urllib3==1.26.13
zipp==3.6.0


--index-url https://pypi.tuna.tsinghua.edu.cn/simple